#hero{
    max-width: var(--main-width);
    margin: 0 auto 4rem;
    position: relative;
    overflow: hidden;
}

#hero img{
    width: 100%;
    min-height: 35vh;
    height: 100vh;
    min-width: 20rem;
    aspect-ratio: 28/9;
    object-fit: cover;
}