.card-slider{
    width: 100%;
    overflow: hidden;
    display: flex;
}

.card-slider .card{
    flex: 0 0 18%;
    aspect-ratio: 1/1.5;
}

.card-slider .card img{
    width: 100%;
    height: 100%;
}