#main-cart{
    background-color: rgb(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
.cart-container{
    width: 80%;
    height: 60vh;
    display: flex;
    position: relative;
}
.shopping-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 70%;
    height: 100%;
    
}
.shopping-cart h3{
    font-size: clamp(1.4rem,1.8vw,4rem);
}

.summary{
    font-size: clamp(1.4rem,1.4vw,4rem);
    background-color: #E3E3E3;
    color: black;
    width: 30%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.summary h3{
    font-size: clamp(1.4rem,1.4vw,4rem);
}
.summary .close-cart{
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem;
    color: black;
    font-size: 1.8rem;
    cursor: pointer;
}
.summary .items,.summary .total, .summary p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.summary button{
    width: 50%;
    height: 50px;
    background-color: #444444;
    font-size: clamp(1.2rem,2vw,3rem);
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-left: .5rem;
}

.summary button:hover{
    background-color: #747474;
}

.cart[id="main-cart"]:target{
    opacity: 1;
    pointer-events: auto;
}
.products{
    max-height: 80%;
    width: 100%;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media (max-width:1100px){
    .cart-container{
        flex-direction: column;
        min-width: 300px;
        min-height: 500px;
        overflow-y: scroll;
    }
    .shopping-cart{
        width: 100%;
        padding: 1rem;
    }
    .summary{
        width: 100%;
        padding: 1rem;
    }
}