.cards{
    margin: auto;
    max-width: var(--main-width);
    color: black;
}
.cards h2{
    font-size: clamp(2rem,3vw,4rem);
}
.cards-container{
    margin: 4rem 0 4rem;
    display: grid;

    grid-auto-rows: 24rem;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
}
.cards-container a{
    text-decoration: none;
    color: black;
}
.card{
    background-color: white;
    background: center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1rem;
}

.card:hover{
    transition: .2s;
    box-shadow: 2px 2px 5px 1px rgb(0,0,0,.4);
}

.card .buy-btn{
    background-color: white;
    padding: .5rem;
    display: none;
    
}

.card:hover .buy-btn{
    display: block;
}

