.product{
    border-top: 1px solid black;
    margin: 1rem;
    width: 100%;
    min-height: 300px;
    height:fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}
.product-img{
    display: flex;
    align-items: center;
    height: 100%;
}
.product-img  .img{
    height: inherit;
    width: 200px;
    background: center center/cover;
    aspect-ratio: 1/1;
    border-radius: 6px;
}

.quantity{
    display: flex;
    border-radius: 100px;
    width: 120px;
    height: 50px;

}
.quantity-total{
    cursor: default;
    pointer-events: none;
}
.minus,.plus,.quantity-total{
    border: 1px solid #E5E5E5;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minus:hover,.plus:hover,.quantity-total:hover{
    border: 1px solid black;
}
.plus{
    border-top-right-radius:100px;
    border-bottom-right-radius:100px;
    cursor: pointer;
}

.minus{
    border-top-left-radius:100px;
    border-bottom-left-radius:100px;
    cursor: pointer;
}
.quit-product{
    cursor: pointer;
}

.product-name{
    height: 50px;
    display: flex;
    align-items: center;
    min-width: 200px;
    max-width: 300px;
    width: fit-content;

}

.product-price{

    height: 50px;
    display: flex;
    align-items: center;
}