.signin-container{
    width: minmax(400px,600px);
    height: 100vh;
    background-color: #D4D5D4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.signin-container .signin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    max-width: 600px;
    min-width: 350px;
    background-color: white;
    z-index: 2;
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,.6);
    border-radius: 4px;
}
.signin-container .signin .signin-header{
    font-weight: 200;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: black;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.signin-container .signin .signin-header span{
    text-transform: none;
    font-weight: 500;
}
.signin-container .signin .signin-body{
    display: flex;
    flex-flow: column wrap;
    margin: 1rem;
}
.signin-container .signin .signin-body label{
    color: #141414;
    cursor: pointer;
    width: fit-content;
    padding: .25rem;
}

.signin-container .signin .signin-body #files{
    display: none;
}
.signin-container .signin .signin-body .fullname{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.signin-container .signin .signin-body .fullname .input-form{
    width: calc(100% / 2.1);
    display: flex;
    flex-direction: column;
}

.signin-container .signin .signin-body .signin-btn{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CAD1CB;
    background-color: #141414;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .2s;
}

.input-error{
    border: 3px solid #FF4B4B;
    border-radius: 4px;
}

.error-tooltip-name{
    color:#FF4B4B;
    bottom: 110%;
    background-color: white;
    border-radius: 4px;
    padding: .5rem;
    transition: .2s;

}

.error-tooltip-lastname{
    color:#FF4B4B;
    bottom: 110%;
    background-color: white;
    border-radius: 4px;
    padding: .5rem;
    transition: .2s;
}

@media (max-width:850px){
    .signin-container .signin .signin-body .fullname{
        flex-direction: column;
    }
    .signin-container .signin .signin-body .fullname .input-form{
        width: 100%;
    }
    .signin-container .signin{
        margin-top: 8rem;
    }
}