.login-container{

    width: 100%;
    height: 100vh;
    background-color: #D4D5D4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    align-items: center;
    min-height: 400px;
    width: 300px;
    background-color: white;
    /* border-radius: 10px; */
    z-index: 2;
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,.6);
    border-radius: 4px;
    /* border: 1px solid #000; */
}


.login .login-header{
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: black;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.login-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40%;
}
.login-body .body-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    width: 90%;
}
.login-body .input-field{
    /* margin-bottom: 1rem;
    text-transform: none; */
    width: 100%;
    /* height: 35px;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: black; */
} 


.login-body .input-field.input-error{
    border: 3px solid #FF4B4B;
    border-radius: 4px;
}

.login .login-body .login-btn{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CAD1CB;
    background-color: #141414;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .2s;
}
.login .login-body .login-btn:hover{
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,.6);
}
.login .login-footer{
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column wrap;
}


.error-message{
    color: #FF4B4B;
    text-transform: none;
    margin-bottom: 1rem;

}

.auth-error{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 1rem;
    width: 90%;
    color: #FF4B4B;
    border: 1px solid #FF4B4B;
    border-radius: 4px;
    padding: .5rem;
}

.auth-error span{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: none;
}

.auth-error p{
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: none;
    color: #5A5B5A;
}

.warning{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

