#slider{
   max-width: var(--main-width);
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
#slider .overlay{
    position: absolute;
    width: var(--main-width);
    height: 100%;
    background-color: rgba(0,0,0,.2);
    top: 0;
    left: 0;
    z-index: 1;
}
#slider .skeleton{
    position: absolute;
    width: var(--main-width);
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 2;
    animation: skeleton-animation 1s linear infinite alternate;
}

@keyframes skeleton-animation{

    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}

#slider .slide-container{
    width: var(--main-width);
    min-height: 45vh;
    margin: auto;
    display: flex;
    position: relative;
    border-radius: 6px;
    transition: 1s;
}
#slider .slide-container img{
    object-fit: cover;
    aspect-ratio: 20/9;
    width: 100%;

}

#slider .right,#slider .left{
    position: absolute;
    font-size: clamp(1.8rem,3.5vw,6rem);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    transition: .5s;
}

#slider .right{
    z-index: 1;
    top: 50%;
    right: 1%;
    display: flex;
}
#slider .left{
    z-index: 1;
    top: 50%;
    left: 1%;
    display: flex;
}
#slider .right-icon,#slider .left-icon{
    transition: .5s;
}
#slider .right:hover .right-icon,#slider .left:hover .left-icon{
    transform: scale(1.2);
}
.see-btn{
    position: absolute;
    top: 60%;
    right: 10%;
    background-color: #141414;
    border: 2px solid #141414;
    width: 200px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s;
}

.see-btn:hover{
    color: #141414;
    background-color: #BEBEBE;
   
}