#navbar{

    padding: 0 1rem 0;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    background-color: #F5F5F5;
    z-index: 2;
    margin-bottom: 4rem;
    padding:0 10rem 0;
    position: relative;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.search-bar input{
    background-color: white;
    border: 1px solid #E8E8E8;
    height: 2vh;
    outline: none;
    color: black;
    font-size: clamp(1rem,1.2vw,3rem);
}

.search-icon{
    background-color: #333;
    color: white;
    cursor: pointer;
}

#navbar a{
    color: black;
    text-decoration: none;
    font-size: clamp(1.2rem,1.2vw,2rem);
    cursor: pointer;
}

.cart-icon{
    cursor: pointer;
}

.user{
    width: 150px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.logout{
    background-color: black;
    width: 50px;
    height: 50px;
    border: 1px solid red;
}

.user-btn{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
}

.user-menu{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 300px;
    position: absolute;
    right: 2%;
    top: 100%;
    background-color: #5A5B5A;
    color: #CAD1CB;
    border-radius: 4px;

}

.option{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 80%;
    height: 50px;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 4px;
    margin: .5rem 0 .5rem;
    padding: .25rem;
}

.option:hover{
    transition: .2s;
    background-color: rgb(175,183,176,.2);

}

.user-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 1rem;
}

.user-profile{
    display: flex;
    align-items: center;
}

.logout-icon,.cart-icon{
    margin-right: 1rem;
}