*{
  box-sizing: border-box;
  text-transform: capitalize;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #E7E7E7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-width:1640px;
}

body{
  margin: 0;
}
a{
  color: #4889CE;
}
input{
    margin-bottom: 1rem;
    text-transform: none;
    height: 35px;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
}

.principal{
  position: absolute;
  left: 0;
  top: 0;
  text-decoration: none;
  margin: 1rem;
  font-size: 2rem;
  color: #141414;
  border-bottom: 1px solid #141414;
}

