.main-modal{
    position: absolute;
    background-color: rgba(0,0,0,.6);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.modal-container{
    background-color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    padding:0 2rem 2rem;
    overflow-y: scroll;
    height: 80vh;
    width: 60%;
    
}

.close{
    position: absolute;
    right: 0;
    margin: .5rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}
.modal-elements{
    width: 100%;
    margin: 3rem 0 3rem;
    display: flex;
}
.modal-elements img{
    width: 35%;
    min-height: 300px;
    object-fit: cover;
}
.modal-description{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    height: fit-content;
}
.modal-description .price{
    font-size: clamp(1.6rem,1.8vw,3rem);
}

.modal-description .all-sizes{
    font-size: clamp(1.2rem,1.2vw,2rem);
}
.modal-description .all-colors{
    font-size: clamp(1.2rem,1.2vw,2rem);
}
.modal-description h3{
    font-size: clamp(1.4rem,1.6vw,4rem);
    padding: 0;
    margin: 0;
}
.modal-description p{
    font-size: clamp(1.4rem,2.2vw,4rem);
    padding: 0;
    margin: 0;
    font-weight: 900;
    color: orange;
}
.price{
    margin: .5rem;
}
.sizes{
    width: 100%;
    min-height: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.size{
    border: 1px solid black;
    min-width: 80px;
    height: 25px;
    height: fit-content;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    font-size: clamp(1rem,1.2vw,3rem);
    margin:.5rem  .5rem ;
    border-style: dashed;
    text-transform: uppercase;
}
.all-colors{
    margin: .5rem;
}
.colors{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    
}
.color{
    width: clamp(30px,2.5vw,50px);
    height: clamp(30px,2.5vw,50px);
    background-color: beige;
    border-radius: 100px;
    border: 1px solid black;
    border-style: dashed;
    margin: .5rem;
    
}
.options{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 0;
    border: 0;
}
.options  button{
    width: 40%;
    min-width: 120px;
    height: 50px;
    background-color: #444444;
    font-size: clamp(1rem,1.2vw,2rem);
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-left: .5rem;
}
.options  button:hover{
    background-color: #747474;
    }
.options a{
    font-size: clamp(2rem,3vw,4rem);
    color: black;
}
.shipping-title{
    margin-left: 1rem;
}
.shipping-type{
    border: 2px solid black;
    width: fit-content;
    border-radius: 100px;
    color: black;
    padding: .5rem;
    margin: 1rem;
    background-color: #F5F5F5;
}
.shipping-description{
    margin-left: 1rem;
    width: fit-content;
    padding: .5rem;
    background-color: #F5FCFC;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media (max-width:1200px){
    .modal-elements img{
        width: 60%;
    }
    .modal-description{
        width: 50%;
    }
}

@media (max-width:768px){
    .modal-elements{
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    .modal-container{
       
        width: 80%;
    }
    .modal-elements img{
        width: 60%;
        min-width: 240px;
        min-height: 50vh;
    }
    .modal-description{
        width: 100%;
        min-height: 50vh;
        justify-content: center;
    }
    .options  button{
        width: 100%;
    }
}
